@value text_green from 'styles/generic/variables.css';

.event {
  composes: pill from "styles/sidebar.css";
  position: relative;
}

.link {
  composes: link from "styles/sidebar.css";
}

.title {
  margin: 0 1rem 0.3rem 0;
  font-size: 1rem;
  font-weight: normal;
  color: #fff;
}

.detail {
  font-size: 0.8rem;
  margin: 0;
  color: text_green;
}
.detailLabel {
  display: inline-block;
  font-weight: bold;
  width: 65px;
}
.searchBtn {
  composes: link from "styles/sidebar.css";
  font-weight: bold;
  font-size: 0.8rem;
}
.searchBtn:hover {
  color: #000;
  text-decoration: underline;
}
.searchBox {
    margin: 1rem 0;
}
.searchBox div {
  margin-bottom: 0.5rem;
  font-size: 0.8rem;
}

.genre {
  position: absolute;
  right: 0.7rem;
  bottom: 0.7rem;
}
