@value green, darkest_green from 'styles/generic/variables.css';


.pill {
  margin: 0 -5px 1.2rem -5px;
  background: green;
  padding: 0.5rem;
  border-radius: 4px;
  color: #fff;
}

.title {
  color: #fff;
  margin: 0 1rem 0 0;
  font-size: 1.2rem;
}

.link, .link a {
  color: darkest_green;
  margin: 0
}

.link:hover {
  cursor: pointer;
  text-decoration: none;
}
