.sidebar {
    background-color: #ddd;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
    padding: 1rem 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: calc(100vh - 44px);
}
.sidebar::-webkit-scrollbar {
 display: none;
}

.title {
  color: #444;
  margin: 1rem 1rem 1rem 0;
}

.website:hover {
  cursor: pointer;
  text-decoration: underline;
}

.close {
  position: absolute;
  cursor: pointer;
  font-size: 3rem;
  line-height: 0.5;
  top: 10px;
  left: 265px;
  z-index: 1;
}

.event {
  background-color: #eee;
  cursor: pointer;
  margin-bottom: 1rem;
  padding: 0.3rem;
  position: relative;
}
.event:hover {
  color: #fff;
  background-color: #ccc;
}
.event:hover .cta {
  color: #fff;
}

.event h5 {
    font-size: 1.1rem;

}
.event p {
  font-size: 0.9rem;
  margin: .3rem 0;
}
.event .cta {
  font-style: italic;
  font-size: 0.7rem;
  position: absolute;
  bottom: 0rem;
  right: 0.4rem;
  color: #666;
}
