.overlay {
  text-align: center;
  background-color: rgba(230,230,230,.6);
  border-radius: 4px;
}

.overlay h1 {
  color: #444;
  font-size: 1.1rem;
  font-weight: bold;
}

.overlay h1:hover {
  color: #44f;
  cursor: pointer;
}
