.dropdown {
  composes: dropdown from "styles/toolbar.css";
}

.genreList {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.genre {
  user-select: none;
  cursor: pointer;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}
