# Backend
django
djangorestframework

# Infra
raven
gunicorn
ipython
psycopg2-binary
redis
django-extensions

# Frontend
whitenoise
django-webpack-loader

# Scrapin'
requests
beautifulsoup4
html5lib

# Celery
celery
celery[redis]
flower

# Development
watchdog
