# Backend
django
psycopg2-binary
gunicorn
ipython
raven
redis
django-extensions

# Frontend
whitenoise
graphene-django
django-webpack-loader

# API
requests

# Scrapin'
beautifulsoup4

# Celery
celery
celery[redis]
flower
