# Backend
django
djangorestframework
django-cors-headers

# Infra
raven
gunicorn
ipython
psycopg2-binary
redis
django-extensions

# Frontend
whitenoise

# Scrapin'
requests
beautifulsoup4
html5lib

# Celery
celery
celery[redis]
flower

# Development
watchdog

# Linting
flake8
isort
black

# Testing
faker
pytest-django
pytest-sugar
fakeredis
responses
freezegun
