header {
    height: 44px;
    background-color: #eee;
    padding: 10px 0;
}

header h1 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

#app {
  position: absolute;
  top: 44px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map-wrapper {
  height: 100%;
}

.venue-overlay {
  min-width: 150px;
}

.venue-overlay h1 {
  color: #444;
  font-size: 1.1rem;
  font-weight: bold;
}

.venue-overlay h1:hover {
  color: #44f;
  cursor: pointer;
}

.sidebar {
    background-color: #ccc;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    z-index: 1;
    padding: 1rem 0;
}

.sidebar h3 {
  color: #333;
}
